@import './variables.scss';
@font-face {
    font-family: "arsmpro";
    src: url(../fonts/arsmproregular.TTF);
    font-weight: normal;
}

@font-face {
    font-family: "arsmpro";
    src: url(../fonts/ARSMAQUETTEPRO-BOLD-WEBFONT.TTF);
    font-weight: bold;
}

@font-face {
    font-family: "arsmpro";
    src: url(../fonts/arsmpro-Medium.ttf);
    font-weight: medium;
}

body {
    color: $primary-color;
    font-size: 16px;
    font-family: "arsmpro";
    line-height: 24px;
    font-weight: normal;
}

.tt {
    text-transform: uppercase;
}

.tac {
    text-align: center;
}

.text-white {
    color: white;
}

.text-gray {
    color: #737373;
}

.bg-white {
    background-color: white;
}

.container {
    margin: 0 auto;
    max-width: 1157px;
}

.header {
    width: 100%;
    position: fixed;
    height: 80px;
    z-index: 100;
    background-color: rgba(0, 0, 0, .4);
}

.logo {
    width: 130px;
    position: absolute;
    margin-top: -7px;
}

nav {
    margin: 20px 0px 0px 150px;
}

.navbar {
    font-size: 14px;
    li {
        display: inline-block;
        padding-left: 35px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 36px;
        a:hover {
            color: $secondary-color;
            @extend .smooth;
        }
    }
}


/*label {
    display: none;
    float: right;
}

label div {
    width: 33px;
    height: 2px;
    background-color: white;
    margin: 5px 16px 5px 0px;
}*/

label {
    display: none;
    width: 33px;
    height: 2px;
    right: 17px;
    margin-top: 15px;
    position: absolute;
    background-color: white;
    cursor: pointer;
    &::before,
    &::after {
        content: '';
        width: 33px;
        height: 2px;
        background-color: white;
        position: absolute;
    }
    &::before {
        top: -300%;
    }
    &::after {
        bottom: -300%;
    }
}

#toggle {
    display: none;
    float: right;
}

.header-contact {
    width: 230px;
    float: right;
    font-size: 11px;
    text-transform: uppercase;
    position: relative;
    border-left: 1px solid #999181;
    height: 45px;
}

.phone {
    width: 32px;
    margin: 6px 10px 0px 10px;
    float: left;
}

.phone-number {
    font-size: 18px;
}

.primary-heading {
    font-size: 63px;
    font-weight: bold;
    line-height: 57px;
}

.footer {
    width: 100%;
    float: left;
    background-color: black;
}

.ft-cntct {
    font-weight: normal;
    font-size: 12px;
    ;
}

.ft-icon {
    float: right;
}

.ft-bottom {
    border-top: 1px solid #3b3b3b;
}

.copy {
    font-size: 12px;
    font-weight: normal;
    padding-top: 15px;
}

.smooth {
    transition: all .4s ease;
}

.actve {
    background-color: black;
    color: $secondary-color;
}