@import './variables.scss';
img {
    max-width: 100%;
}

.banner {
    width: 100%;
}

.slider {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.item {
    width: 100%;
    height: 670px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-content {
    width: 640px;
    padding-top: 330px;
}

.afyun-about {
    width: 100%;
}

.text-intro {
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
    width: 426px;
}

.small-title {
    font-size: 15px;
}

.sub-text {
    position: absolute;
    margin-top: 499px;
    z-index: 2;
    border-left: 5px solid red;
}

.text-space {
    padding-left: 25px;
}

.small-text {
    border-left: 5px solid red;
    height: 20px;
}

.icon-pink-arrow:before {
    content: "\e900";
    color: #ed5368;
}

.inner-banner {
    width: 100%;
    float: left;
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: cover !important;
}

.inner-banner-bg {
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
}

.left {
    height: 466px;
    background-repeat: no-repeat !important;
}


/*.right {
    position: relative;
    height: 469px;
    z-index: -1;
}

.fg {
    width: 100%;
    background-color: black;
    height: 469px;
    opacity: 80%;
}*/

.red-box {
    width: 562px;
    height: 460px;
    position: absolute;
    margin-top: -147px;
}

.red-box-content-align {
    padding-left: 80px;
    padding-right: 80px;
}

.red-box-head {
    font-size: 45px;
    font-weight: bold;
    line-height: 40px;
}

.category-box {
    width: 100%;
    float: left;
}

.blog-head {
    width: 300px;
}

.global-para {
    width: 325px;
}

.blog-box {
    width: 275px;
    height: 372px;
    position: relative;
    background-color: #edb13e;
}

.blog-box2 {
    margin-top: 50px;
    background-color: black;
}

.category {
    font-size: 10px;
    font-weight: normal;
}

.category-head {
    font-weight: normal;
}

.box-content-align-sm {
    padding-left: 40px;
    padding-right: 44px;
}

.red-bg {
    width: 100%;
    float: left;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url(../images/red-bg.png);
}

.nature-img {
    margin-left: -53px;
    margin-top: 110px;
}

.red-bg-text {
    font-size: 13px;
    font-weight: 100;
}

.red-bg-spacing {
    padding-top: 250px;
}

.red-bg-heading {
    font-size: 59px;
    line-height: 52px;
}