.plywood-thumb {
    border-bottom: 1px solid #cba95e;
    line-height: 12px;
}

.zoom-icon {
    width: 18px;
    margin-left: 60px;
    margin-top: 13px;
}

.zoom-text {
    width: 190px;
    margin-top: -27px;
    font-size: 14px;
}


/*-----------------------popup----------------*/