@media only screen and (max-width: 991px) and (min-width: 0) {
    .container {
        width: 95%;
    }
    .global-vertical-padding {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .global-top-padding {
        padding-top: 35px !important;
    }
    .global-bottom-padding {
        padding-bottom: 35px !important;
    }
    .global-vertical-padding-sm {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    .global-top-padding-sm {
        padding-top: 15px !important;
    }
    .global-bottom-padding-sm {
        padding-bottom: 15px !important;
    }
    .header-contact {
        display: none;
    }
    .header {
        height: 74px;
    }
    .logo {
        margin-left: -4px;
    }
    .navbar {
        width: 90%;
        background-color: #000;
        height: 100vh;
        position: fixed;
        right: -892px;
        padding-top: 65px;
    }
    .header-dark .navbar li {
        color: white;
    }
    .navbar li {
        display: block;
        padding: 0px 14px 0px 14px;
        text-align: center;
        line-height: 45px;
        font-size: 20px;
        color: white;
    }
    label {
        display: block;
        cursor: pointer;
    }
    #toggle:checked~label::before {
        transform: rotateZ(49deg);
    }
    #toggle:checked~label::after {
        transform: rotateZ(-49deg) translate(-10px, 6px);
    }
    #toggle:checked~label {
        width: 0%;
        right: 50px;
    }
    #toggle:checked~.navbar {
        display: block;
        position: fixed;
        right: -20px;
        top: 0px;
        transition: ease .5s;
    }
    .banner-content {
        width: 100%;
        padding: 195px 30px 0px 30px;
        text-align: center;
        margin: 0 auto;
    }
    .primary-heading {
        font-size: 35px;
        line-height: 40px;
    }
    .secondary-heading {
        font-size: 25px;
        line-height: 25px;
    }
    .item {
        width: 100%;
        height: 525px;
        background-size: cover;
    }
    .banner-slide .owl-dots {
        display: none;
    }
    .banner-slide .owl-nav {
        display: none;
    }
    .small-text {
        border: none;
        text-align: center;
    }
    /* .sub-text {
        left: 55px;
        position: absolute;
    }
    .small-text {
        margin-left: 83px;
    }
    .text-link {
        margin-top: -16px;
    }*/
    .text-intro {
        padding: 0px 50px 0px 50px;
        margin: 30px auto;
        width: 100%;
    }
    .intro {
        text-align: center;
    }
    .inner-banner-bg {
        background-color: #fff;
    }
    .left {
        height: 40vh;
        margin-left: 0px;
    }
    .feature-box-container {
        width: 100%;
        margin: 0px auto;
        padding-left: 35px;
        padding-right: 35px;
    }
    .afyun-feature-box {
        width: 100%;
        height: auto;
        text-align: center;
        position: relative;
        margin-top: -125px;
    }
    .global-para {
        width: 85%;
        margin: 10px auto;
    }
    .afyun-feature-box-content-align {
        padding-left: 33px;
        padding-right: 23px;
    }
    .blog-head {
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    .blog-box {
        margin: 0px auto;
    }
    .blog-box2 {
        margin-top: 30px;
    }
    .dots-container {
        margin: 212px auto;
    }
    .red-bg {
        background-position: center;
    }
    .red-bg-spacing {
        padding-top: 0px;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .ft {
        padding-left: 20px;
    }
    .ft-spacing {
        margin-top: 25px;
    }
    .ft-icon {
        float: left;
        margin-left: -5px;
    }
    .ft-bottom {
        margin-top: 80px;
    }
    .copy {
        padding-top: 0px;
        margin-left: 8px !important;
    }
    .page-banner {
        width: 100%;
    }
    .introduction {
        width: 87%;
    }
    .sub-para {
        width: 85%;
    }
    .page-title {
        line-height: 50px;
        font-size: 40px;
    }
    .blg-row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .exprnce-head {
        margin-top: 65px;
        height: auto;
    }
    .para-clr {
        width: 100%;
    }
    .yr-of-exp {
        width: 100%;
        margin: 0 auto;
    }
    .alignment {
        margin-left: 27px;
    }
    .blog-banner-head {
        width: 100%;
    }
    .details {
        padding-top: 0px;
    }
    .social-icon {
        width: 67%;
    }
    .para {
        width: 87%;
    }
    .cert-icons {
        width: 100%;
    }
    .cert-icon-box {
        padding: 10px;
    }
    .left-bg {
        width: 100%;
        margin-left: 0px;
    }
    .container-left {
        width: 100%;
        margin: 0 auto;
        padding-left: 43px;
        padding-right: 43px;
    }
    .nature-in-content {
        width: 87%;
    }
    .brder-white {
        margin-left: 0px;
    }
    .h1-width {
        display: none;
    }
    .cert-icon-align {
        margin-bottom: 30px;
    }
    .family-img {
        padding-bottom: 30px;
    }
    .sustainability-bnr-intro {
        width: 100%;
    }
    .hl {
        width: 0px;
    }
    .hl-white {
        width: 0px;
    }
    .item.about-item {
        width: 100%;
        margin: 0 auto;
        margin-left: 0;
    }
    .history-slide .owl-nav button.owl-prev {
        margin-right: auto !important;
        padding-right: 282px !important;
        position: initial;
        float: left;
    }
    .room-img {
        width: 0px;
    }
    .pattern-bg-content {
        margin: 0 auto;
        width: 100%;
    }
    .introduction.why-us-intro {
        width: 100%;
    }
    .prdct-stndardization {
        margin: 0 auto;
    }
    .why-us-img {
        width: 100%;
        margin: 0 auto;
        padding: 50px
    }
    .image-size {
        width: 41%;
        margin: 0 auto;
    }
    .process-bg {
        background-size: cover;
    }
    .customer-service-content {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .stages {
        width: 100%;
        margin: 0px auto;
    }
    .processing-stg {
        display: block;
        margin-top: 10px;
    }
    .stage-1,
    .stage-3 {
        width: 100%;
        margin: 0 auto;
    }
    .ts-yellow {
        text-align: left;
    }
    .content-padding {
        padding-bottom: 0px;
    }
    .center-heading {
        text-align: center;
    }
    .history-slide .owl-nav {
        width: 100%;
    }
    .history-slide .owl-nav button.owl-prev {
        margin-right: 1045px;
        position: relative;
        float: left;
    }
    .history-slide .owl-nav button.owl-next {
        float: right;
        margin-top: 72px;
    }
    .left.about-left-part {
        margin-bottom: 70px;
    }
    .heading-primary {
        font-size: 40px !important;
        line-height: 51px !important;
    }
    .heading-secondary {
        font-size: 30px !important;
    }
    .about-banner-img {
        padding-top: 100px;
        margin: 0 auto;
        width: 100% !important;
        height: auto !important;
    }
    .blog-title {
        font-size: 30px;
        line-height: 35px;
    }
    .comma-img {
        width: 100px;
    }
    .msg-from-chairman {
        text-align: center;
    }
    .pattern-bg-content {
        padding-left: 0px;
        padding-right: 0;
    }
    .white-hl-align {
        width: 100%;
    }
    .grad-bg-white {
        background: white;
    }
    .border-right {
        border-right: none;
    }
    .single-brand {
        padding: 0px;
    }
    .single-brand .padded {
        padding: 30px 15px;
    }
    .border-left-dark {
        border-left: none;
        height: auto;
    }
    .border-right-light {
        border-right: none;
        height: auto;
    }
    .blog-banner-head {
        height: auto;
    }
    /*product details*/
    .product-image {
        width: 100%;
    }
    .product-detailed-banner {
        height: auto !important;
    }
    .table-content {
        overflow-x: auto;
    }
    /*product details*/
    .message {
        width: 70%;
    }
    .message-para {
        padding: 0px 35px;
    }
    .table-form,
    .table-form th,
    .table-form td,
    .table tbody {
        display: block;
        width: 100%;
        padding: 5px;
    }
    .btn-contact {
        height: auto !important;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 992px) {
    .container {
        width: 90%;
    }
    .logo {
        margin-left: -54px;
    }
    .navbar {
        width: 90%;
        background-color: #000;
        height: 100vh;
        position: fixed;
        right: -921px;
        padding-top: 65px;
    }
    .navbar li {
        display: block;
        padding: 0px 14px 0px 14px;
        text-align: center;
        line-height: 45px;
        font-size: 20px;
        color: white;
    }
    label {
        display: block;
        cursor: pointer;
    }
    #toggle:checked~label::before {
        transform: rotateZ(49deg);
    }
    #toggle:checked~label::after {
        transform: rotateZ(-49deg) translate(-10px, 6px);
    }
    #toggle:checked~label {
        width: 0%;
        right: 50px;
    }
    #toggle:checked~.navbar {
        display: block;
        position: fixed;
        right: -20px;
        top: 0px;
        transition: ease .5s;
    }
    .header-contact {
        width: 221px;
        border-left: none;
    }
    .item {
        background-size: cover;
    }
    .banner-content {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .row {
        margin: 0px;
    }
    .red-bg {
        background-position: center;
    }
    .dots-container {
        width: 45% !important;
    }
    .blog-box {
        width: 90%;
    }
    .afyun-feature-box {
        width: auto;
    }
    .history-slide .owl-nav button.owl-prev {
        margin-right: 0px !important;
        position: relative;
        float: left;
    }
    .history-slide .owl-nav button.owl-next {
        float: right;
        margin-top: 72px;
    }
    .history-slide .owl-nav {
        width: 100%;
    }
    .room-img {
        margin: -70px auto;
        padding: 0px 25%;
        width: 100%;
    }
    .pattern-bg-content {
        padding: 0px 65%;
    }
    .pattern-cntent-align {
        width: 100%;
        text-align: center;
        display: inline-block;
    }
    .white-hl-align {
        width: 100%;
    }
    .page-banner {
        width: 100%;
    }
    .customer-service-content {
        width: 100%;
    }
    .product-detailed-banner {
        height: 670px;
    }
    .table-content {
        overflow-x: auto;
    }
}