@media only screen and (max-width: 450px) and (min-width: 0) {
    .container {
        width: 100%;
    }
    .global-vertical-padding {
        padding-top: 35px !important;
        padding-bottom: 35px !important;
    }
    .global-top-padding {
        padding-top: 35px !important;
    }
    .global-bottom-padding {
        padding-bottom: 35px !important;
    }
    .global-vertical-padding-sm {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    .global-top-padding-sm {
        padding-top: 15px !important;
    }
    .global-bottom-padding-sm {
        padding-bottom: 15px !important;
    }
    .header-contact {
        display: none;
    }
    .header {
        height: 74px;
    }
    .logo {
        margin-left: 10px;
    }
    .navbar {
        width: 100%;
        display: none;
    }
    .navbar li {
        display: block;
        padding-top: 20px;
    }
    label {
        display: block;
        cursor: pointer;
    }
    #toggle:checked~label::before {
        transform: rotateZ(49deg);
    }
    #toggle:checked~label::after {
        transform: rotateZ(-49deg) translate(-10px, 6px);
    }
    #toggle:checked~label {
        width: 0%;
        right: 50px;
    }
    #toggle:checked~.navbar {
        width: 90%;
        display: block;
        padding-top: 62px;
        background-color: #000;
        height: 100vh;
        margin-left: 30px;
        transition: all ease 0.5s;
    }
    .banner-content {
        width: 100%;
        padding: 195px 11px 0px 11px;
        text-align: center;
        margin: 0 auto;
    }
    .primary-heading {
        font-size: 52px;
    }
    .item {
        height: 550px;
        background-size: cover;
    }
    .banner-slide .owl-dots {
        display: none;
    }
    .banner-slide .owl-nav {
        display: none;
    }
    .sub-text {
        left: 55px;
        position: absolute;
    }
    .small-text {
        margin-left: 83px;
    }
    .text-link {
        margin-top: -16px;
    }
    .text-intro {
        padding: 0px 50px 0px 50px;
        margin: 0 auto;
        width: 100%;
    }
    .intro {
        text-align: center;
    }
    .inner-banner-bg {
        background-color: #fff;
    }
    .left {
        height: 215px;
        margin-left: 0px;
    }
    .afyun-feature-box {
        width: 397px;
        height: 426px;
        position: relative;
        margin-top: -125px;
        margin-left: -117px;
    }
    .afyun-feature-box-content-align {
        padding-left: 33px;
        padding-right: 23px;
        padding-top: 58px !important;
    }
    .blog-head {
        margin: 0 auto;
        text-align: left;
    }
    .blog-box {
        margin: 15px auto;
    }
    .dots-container {
        margin: 189px auto;
    }
    .red-bg {
        background-position: center;
    }
    .nature-img {
        margin-top: -40px;
    }
    .red-bg-spacing {
        padding-top: 0px;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .ft {
        padding-left: 20px;
    }
    .ft-spacing {
        margin-top: 25px;
    }
    .ft-icon {
        float: left;
        margin-left: -5px;
    }
    .ft-bottom {
        margin-top: 80px;
    }
    .copy {
        padding-top: 0px;
        margin-left: 8px !important;
    }
}