@media only screen and (max-width: 450px) and (min-width: 0) {
    .container {
        width: 100%;
    }
    .global-vertical-padding {
        padding-top: 35px !important;
        padding-bottom: 35px !important;
    }
    .global-top-padding {
        padding-top: 35px !important;
    }
    .global-bottom-padding {
        padding-bottom: 35px !important;
    }
    .global-vertical-padding-sm {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    .global-top-padding-sm {
        padding-top: 15px !important;
    }
    .global-bottom-padding-sm {
        padding-bottom: 15px !important;
    }
    .header-contact {
        display: none;
    }
    .navbar {
        text-align: center;
        width: 100%;
        display: none;
    }
    .navbar li {
        display: block;
        width: 100%;
    }
    label {
        display: block;
        cursor: pointer;
    }
    #toggle:checked+.navbar {
        display: block;
        width: 375px;
        margin: 3px 55px 10px -215px;
        padding: 74px 0px 55px 0px;
        color: white;
    }
    .banner-content {
        width: 440px;
        padding-top: 195px;
        text-align: center;
    }
    .primary-heading {
        font-size: 52px;
    }
    .item {
        height: 550px;
    }
    .banner-slide .owl-dots {
        display: none;
    }
    .banner-slide .owl-nav {
        display: none;
    }
    .sub-text {
        margin-top: 435px;
        left: 135px;
    }
    .text-intro {
        width: 380px;
        margin: 0 auto;
    }
    .inner-banner-bg {
        background-color: #fff;
    }
    .left {
        height: 215px;
        margin-left: 0px;
    }
    .afyun-feature-box {
        width: 397px;
        height: 426px;
        position: relative;
        margin-top: -125px;
        margin-left: -117px;
    }
    .afyun-feature-box-content-align {
        padding-left: 33px;
        padding-right: 23px;
    }
    .blog-head {
        margin: 0 auto;
        text-align: left;
    }
    .blog-box {
        margin: 15px auto;
    }
    .dots-container {
        margin: 200px auto;
    }
    .red-bg {
        background-position: center;
    }
    .nature-img {
        margin-top: -40px;
    }
    .red-bg-spacing {
        padding-top: 0px;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .ft-cntct {
        /* margin-top: 15px; */
        margin: 20px 0px 0px 30px;
    }
    .phone-number {
        margin-left: 30px;
    }
    .social {
        margin-left: 26px;
    }
    .ft-icon {
        float: left;
        margin: 15px;
    }
    .ft-bottom {
        margin-top: 60px;
    }
}