.global-vetical-padding {
    padding-top: 70px;
    padding-bottom: 70px;
}

.global-top-padding {
    padding-top: 70px;
}

.global-bottom-padding {
    padding-bottom: 70px;
}

.global-vetical-padding-sm {
    padding-top: 30px;
    padding-bottom: 30px;
}

.global-top-padding-sm {
    padding-top: 30px;
}

.global-bottom-padding-sm {
    padding-bottom: 30px;
}